<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ciao Baby Resturant</title>
  <link rel="stylesheet" href="<%= url("/css/foundation.css")%>">
  <link rel="stylesheet" href="<%= url("/css/app.css")%>">
</head>

<body>
  <div class="title-bar" data-responsive-toggle="realEstateMenu" data-hide-for="small">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
  </div>
  <div class="top-bar" id="realEstateMenu">
    <div class="top-bar-left">
      <ul class="menu" data-responsive-menu="accordion">
        <li class="menu-text">Interplanetary</li>
        <li><a href="#">One</a></li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="#">My Account</a></li>
        <li><a class="button">Login</a></li>
      </ul>
    </div>
  </div>
<h1>Ciao Baby Restaurant</h1>

<p>
  <% if current_user && current_user.admin? %>
    Welcome Administrator
    <a href="/auth/logout">Log Out</a></p>

  <% elsif current_user %>
    Logged in as <%= current_user.username %>
    <a href="/auth/logout">Log Out</a></p>
  <% else %>

    <a href="/auth/login">Log In</a>
  <% end %>

  <% if flash[:success] %>
    <div id="flash" style="color:green;">
      <%= flash[:success] %>
    </div>
  <% end %>

  <% if flash[:error] %>
    <div id="flash" style="color:red;">
      <%= flash[:error] %>
    </div>
  <% end %>

  <%= yield %>

  <!-- <footer>
    <div class="row expanded callout secondary">

      <div class="small-6 large-3 columns">
        <p class="lead">Offices</p>
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
          <li><a href="#">Four</a></li>
        </ul>
      </div>

      <div class="small-6 large-3 columns">
        <p class="lead">Solar Systems</p>
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
          <li><a href="#">Four</a></li>
        </ul>
      </div>

      <div class="small-6 large-3 columns">
        <p class="lead">Contact</p>
        <ul class="menu vertical">
          <li><a href="#"><i class="fi-social-twitter"></i> Twitter</a></li>
          <li><a href="#"><i class="fi-social-facebook"></i> Facebook</a></li>
          <li><a href="#"><i class="fi-social-instagram"></i> Instagram</a></li>
          <li><a href="#"><i class="fi-social-pinterest"></i> Pinterest</a></li>
        </ul>
      </div>

      <div class="small-6 large-3 columns">
        <p class="lead">Offices</p>
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
          <li><a href="#">Four</a></li>
        </ul>
      </div>

    </div>
    <div class="row">

      <div class="medium-6 columns">
        <ul class="menu">
          <li><a href="#">Legal</a></li>
          <li><a href="#">Partner</a></li>
          <li><a href="#">Explore</a></li>
        </ul>
      </div>

      <div class="medium-6 columns">
        <ul class="menu float-right">
          <li class="menu-text">Copyright</li>
        </ul>
      </div>
    </div>
  </footer> -->

    <script src="<%= url("/js/vendor/jquery.js")%>"></script>
    <script src="<%= url("/js/vendor/what-input.js")%>"></script>
    <script src="<%= url("/js/vendor/foundation.js")%>"></script>
    <script src="<%= url("/js/app.js")%>"></script>
  </body>
</html>
